body {
    color: white;
}

.scioly {
    font-size: 100px;
    color: white;
    user-select: none;

}

.scioly:hover, .bxsci:hover, .desc:hover {
    user-select: none;
}

.bxsci {
    font-size: 100px;
    color: white; 
    user-select: none;
}

.desc {
    font-size: 40px;
    color: white;
    user-select: none;
}

.rotated {
    transform: rotate(-180deg);
}

.show-answer {
    transform: translateY(-40px);
}