body {
    color: black;
}

.bxsci {
    font-size: 100px;
    user-select: none;
}

.scioly:hover, .bxsci:hover, .desc:hover {
    user-select: none;
}

.scioly {
    font-size: 100px;
    user-select: none;
    margin-bottom: 20px;
}

.desc {
    font-size: 40px;
    user-select: none;
}

.rotated {
    transform: rotate(-180deg);
}

.show-answer {
    transform: translateY(-40px);
}

.blob-1 {
    height: 500px;
    position: absolute;
    left: -14%;
}

.blob-4 {
    height: 500px;
    position: absolute;
    left: -14%;
    top: 1000px;
}

.blob-2 {
    height: 500px;
    position: absolute;
    right: -13%;
    bottom: 10%;
}

.blob-3 {
    height: 500px;
    position: absolute;
    right: -12%;
    top: 1200px;
    transform: rotate(60deg);
}

.page {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 400px;
  }
