  @font-face {
    font-family: 'jumper';
    src: url("./Jumper.ttf");
    font-style: normal;
    font-weight: 100;
  }

  @font-face {
    font-family: 'bebas';
    src: url("./Bebas.otf");
    font-style: normal;
    font-weight: 100;
  }

  @font-face {
    font-family: 'retroica';
    src: url("../pages/style/fonts/Retroica.ttf");
    font-style: normal;
    font-weight: 100;
  }

  .logo {
    font-family: retroica;
    cursor: pointer;
    font-size: 37px;
    margin-left: 20px;
  }

  .logo-title {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 25px;
    margin-left: 25px;
    font-weight: 200;
  }

  .logo-title-moved {
    cursor: pointer;
    transition-delay: 37ms;
    font-weight: 200;
    transform: translate(200px);  
  }

  .icon-logo {
    display: none;

  }
  
  .caret {

  }

  .events-div {
    display: flex;
    align-items: center;
  }
  @media (max-width: 600px) {
    .logo-title {
      display: none;
    }
    
    .logo-title-moved {
        display: none;
    }

    .icon-logo {
        display: inline-block;
        position: relative;
        display: initial;
        font-size: 25px;
        margin-left: 20px;
        font-weight: 200;
    }
      
  }
  
  