@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

  .whiteClassName {
    color: white;
    transition: 0s all;
  }

  .navLogo {
    color: var(--primary-color);
    font-family: Inter;
    cursor: pointer;
    font-size: 37px;
    text-shadow: 0 0 5px var(--primary-color);
    margin-left: auto;
  }

  .logo-title {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 25px;
    margin-left: 25px;
    font-weight: 200;
  }

  .logo-title-moved {
    cursor: pointer;
    transition-delay: 37ms;
    font-weight: 200;
    transform: translate(200px);  
  }

  .icon-logo {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    color: white;
  }

  .dropbtn {
    display: flex;
    align-items: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background: var(--secondary-color);
    border-radius: 30px;
    min-width: 180px;
    z-index: 999;
    top: 100%;
    margin-top: -5px;
  }

  .dropdown-content a {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 400;
  }

  .dropdown-content a:hover {
    text-decoration: underline;
  }

  .dropdown:hover .dropdown-content, .dropdown-content:hover {
    display: block;
  }
  
  @media (max-width: 600px) {
    .logo-title {
      display: none;
    }
    
    .logo-title-moved {
        display: none;
    }

    .icon-logo {
        display: inline-block;
        position: relative;
        display: initial;
        font-size: 25px;
        margin-left: 20px;
        font-weight: 200;
    }
      
  }
  
  