a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

p {
    margin-left: 10px;
    align-self: center;
}

p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.title {
    font-size: 30px;
    font-weight: 600;
}

.title-event {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .title {
        font-size: 25px;
    }

    .title-event {
        font-size: 15px;
    }

    p {
        font-size: 15px;
    }
}