@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  background: rgb(25,74,64);
  background: linear-gradient(90deg, rgba(25,74,64,1) 0%, rgba(77,119,82,1) 53%, rgba(155,201,142,1) 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  transition: 0.5s all;
}


.home,
.events,
.products,
.faqs {
  padding: 20px 100px 20px 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

h6 {
  font-size: 40px;
  margin-bottom: 10px;
}

h8 {
  font-size: 20px;
}

.navbar {
  color: white;
  /* border-bottom: 3px solid #026857; */
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  transition: 0.2s all ease-in-out;
  z-index: 5;
}

.navbar.active {
  background: black;
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  
}