html, body {
  max-width: 100%;
  overflow-x: hidden;
  opacity: 1;
  background-color: #070a0f;
  opacity: 1;
  background-image: radial-gradient(#000000 0.5px, #070a0f 0.5px);
  background-size: 10px 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Messina Sans",sans-serif;;
}

:root {
  --primary-color: white;
  --secondary-color: #f2d30a;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}


.home,
.products,
.faqs {
  padding: 20px 100px 20px 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.events {
  padding: 4rem;
  background-color: #070a0f;
  color: #fff;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

h6 {
  font-size: 40px;
  margin-bottom: 10px;
}

h8 {
  font-size: 20px;
}

.navbar {
  color: black;
  /* border-bottom: 3px solid #026857; */
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  transition: 20ms;
}

.navbar.active {
  background: black;
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  
}

p {
  color: white;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  color: white;
}

@media (max-width: 600px) {

  .events {
    padding: 15px;
  }

}

.tooltip {
  display: none;
  background: black;
  color: white;
  margin-left: 28px;
  padding: 5px;
  position: absolute;
  z-index: 1000;
}